.login {
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(69, 149, 146);
    padding: 100px;
    margin-left: 40rem;
    margin-right: 40rem;
    margin-top: 50px;
    border-radius: 5px;
    overflow: hidden;

}

.login h3, form{
    text-align: center;
}


.login input {
    font-size: 1rem;

    width: 100%;
    margin-bottom: 10px;
    padding: 5px;

    border: none;
    outline: none;
    border-radius: 5px;

    border-color: #dddddd;
    background-color: white;
    
}

.login button {
    font-size: 1rem;
    width: 50%;
    margin-bottom: 10px;
    padding: 5px;

    border-radius: 5px;

    background-color: white;
}